<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Welcome to Reciter Application</title>
    <style>
        .main-body{
            width:80%;
            margin-left:auto;
            margin-right:auto;
        }

        #logout-button{
            margin-left:auto;
            margin-top:1%;
        }
    </style>
</head>
<body>
    <div class="main-body">
    <div class="row container-fluid">
        <h1>Welcome to the Reciter</h1>
        <a href="/logout" id="logout-button"><button class="btn btn-danger">Logout</button></a>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg">
            <h2>How to use Reciter? </h2>
            <ol>
                <li>Select the voice for your articles (Listen to different voices before choosing one)</li>
                <li>Paste your article in the text area</li>
                <li>Click Submit (This may take few seconds)</li>
                <li>Generate Iframe tag for embedding it in your blog</li>
                <li>Or download your article audio file :)</li>
            </ol>
            <form th:action="@{'/convertTextToSpeech'}" th:object="${inputTextFromUser}" action="/convertTextToSpeech" method="POST">
                <textarea id="textToConvert" name="textToConvert" rows="4" cols="50" placeholder="Enter your text here...." th:field="*{textToConvert}"></textarea>
                <div>
                    <label for="voice-type">Choose a voice:</label>
                    <select name="voice-type" id="voice-type" th:field="*{voiceType}">
                        <option value="male">MALE</option>
                        <option value="female">FEMALE</option>
                        <option value="neutral">NEUTRAL</option>
                    </select>
                </div>
                <br><br>
                <button class="btn btn-success">Generate Audio...</button>
            </form>
            <div style="margin-top:20px;">
            <ul th:if = "${userAudioFileList != null}" th:each="filename:${userAudioFileList}">
                <li>
                    <div>
                        <h3 th:text="${filename}">Sample File Name</h3>
                        <a th:href="@{'/file/download?filename='+${filename}}"><button>Download File</button></a>
                        <a th:href="@{'/file/delete?filename='+${filename}}"><button>Delete File</button></a>
                        <a th:href="@{'/file/generateIframe?filename='+${filename}}"><button>Generate Iframe</button></a>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <div>
                    <h2>Checkout available voice samples below</h2>
                </div>
                <div>
                    <audio id="demo-voice-player" src="https://sample-voice-output-reciter.s3.us-east-2.amazonaws.com/demo-male-voice.mp3" type="audio/mpeg" controls> I'm sorry. You're browser doesn't support HTML5 <code>audio</code>. </audio>
                </div>
                <div>
                    <label for="sample-voices">Choose a voice sample to listen to :</label>
                    <select name="sample-voices" id="sample-voices" onchange="sampleVoiceDemo()">
                        <option value="demo-male-voice">MALE</option>
                        <option value="demo-female-voice">FEMALE</option>
                        <option value="demo-neutral-voice">NEUTRAL</option>
                    </select>
                </div>
            </div>
            <hr>
            <div>
                <form action="#">
                    <label for="generatedIframe"><h3>Generated Iframe</h3></label>
                    <textarea name="generatedIframe" id="generatedIframe" cols="50" rows="4" disabled th:if ="${generatedIframeUrl}" th:text="${generatedIframeUrl}"></textarea>
                </form>
            </div>
        </div>
    </div>
    </div>

    <script>
        function sampleVoiceDemo(){
            var audioTag = document.getElementById("demo-voice-player");
            var selectedDemoVoice = document.getElementById("sample-voices").value;

            if(selectedDemoVoice.localeCompare("demo-male-voice") == 0){
                   audioTag.src = "https://sample-voice-output-reciter.s3.us-east-2.amazonaws.com/demo-male-voice.mp3";
            }else if(selectedDemoVoice.localeCompare("demo-female-voice") == 0){
                    audioTag.src = "https://sample-voice-output-reciter.s3.us-east-2.amazonaws.com/demo-female-voice.mp3";
            }else if(selectedDemoVoice.localeCompare("demo-neutral-voice") == 0){
                    audioTag.src = "https://sample-voice-output-reciter.s3.us-east-2.amazonaws.com/demo-neutral-voice.mp3";
            }
        }
    </script>
</body>
</html>