<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
  <title>Reciter Application</title>
</head>
<body>
<h1 class="display-5">Login</h1>
<form action="/login" method="post">
  <input type="input" id="username" name="username" placeholder="Enter your username">
  <input type="password" id="password" name="password" placeholder="Enter your password">
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<div class="form-group" style="margin-top: 0.5em;">
  <label><a href="/signup">Click here to sign up</a></label>
</div>
</body>
</html>