<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
  <title>Reciter Application</title>

    <style>
        .signup-form{
            width:80%;
            text-align: center;
            margin-left:auto;
            margin-right:auto;
        }
  </style>
</head>
<body>
    <div class="signup-form">
    <h1 class="display-5">Signup</h1>
    <form th:action="@{'/signup'}" th:object="${newUser}" action="/signup" method="post">
      <input type="input" id="firstName" name="firstName" placeholder="Enter First Name" th:field="*{firstName}" required>
      <input type="input" id="lastName" name="lastName" placeholder="Enter Last Name" th:field="*{lastName}" required>
      <input type="input" id="username" name="username" placeholder="Enter Username" th:field="*{username}" required>
      <input type="password" id="password" name="password" placeholder="Enter Password" th:field="*{password}" required>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <hr>
    <a href="/">After signing up, Go To login page..</a>
    </div>
</body>
</html>